<!-- <div style="width:100%;height:0;padding-bottom:50%;position:relative;">
    <iframe src="https://giphy.com/embed/aKjaEWISv9Ie4" width="100%" height="100%" style="position:absolute" frameBorder="0"
        class="giphy-embed" allowFullScreen></iframe>
</div> -->

<header id="header">

    <!--<div class="header-logo">-->
    <div class="row">
        <div class="wop-logo">
            <a href="index.html"> <img src="../../assets/spaat/images/Logo-wop.jpg" style="float: left; width: 10%; margin-top: 50px">
                <!-- <h1 class="logohead">papwork<br><span class="logotag">tap tap done</span></h1>  --></a>
        </div>

        <nav id="header-nav-wrap">
            <ul class="header-main-nav">
                <li class="current"><a class="smoothscroll" href="#home" title="home">Chai</a></li>
                <li><a class="smoothscroll" href="#about" title="about">Spaat Us</a></li>
                <li><a class="smoothscroll" href="#pricing" title="pricing">Social Impact</a></li>
            </ul>

            <!-- <a href="#" title="sign-up" class="button button-primary cta">Sign Up</a> -->
        </nav>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>
    </div>
</header> <!-- /header -->

<!-- home
   ================================================== -->
<section id="home" data-parallax="scroll" data-image-src="" data-natural-width=3000 data-natural-height=2000 class="home">

    <div class="overlay"></div>

    <div class="home-content" id="box">


        <h1 class="headtext">Kashmiri</h1>
        <h1 class="headtext2">Qawah</h1>
        <h3 class="subhead">A chai served to refresh your soul.</h3>
        <div class="dryCover">
            <div class="starspice"></div>
            <div class="dry1"></div>
            <div class="dry2"></div>
            <div class="dry3"></div>
        </div>

    </div> <!-- end home-content -->

    <ul class="home-social-list">
        <li>
            <a href="#"><i class="fa fa-facebook-square"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
        </li>
    </ul>
    <!-- end home-social-list -->

    <div class="home-scrolldown">
        <a href="#about" class="scroll-icon smoothscroll">
            <span>Scroll Down</span>
            <i class="icon-arrow-right" aria-hidden="true"></i>
        </a>
    </div>

</section>

<section>

    <div class="container">
        <div class="headminon">Kidar Milengey Pattey?? Apne Spaat Pe Yaaro! </div>
        <div class="gifminon"></div>
        <div #gmap style="width: 400px; height:400px;"></div>
    </div>

    

</section>

