<div class='navBar'>
  <ngb-tabset justify="justified">

      <div>
      <ngb-tab><ng-template ngbTabTitle><div routerLink='orders'>Orders</div></ng-template></ngb-tab>
      </div>

      <div>
        <ngb-tab><ng-template ngbTabTitle><div routerLink='stock'>Stock</div></ng-template></ngb-tab>
      </div>

      <div>
        <ngb-tab><ng-template ngbTabTitle><div routerLink='kitchen'>Kitchen</div></ng-template></ngb-tab>
      </div>
        

  </ngb-tabset>
</div>

<router-outlet></router-outlet>