<div class="prog-up">
  <mat-progress-bar mode="indeterminate" *ngIf='loading'></mat-progress-bar>
</div>

{{errorMsg}}

<form class="well Additemformbox" #addStockForm="ngForm" (ngSubmit)="addStockItem(addStockForm)">
  <div class="form-group">
    <input type="text" name="stock_name" class="form-control" placeholder="Add Item..." ngModel>
    <label for="sel1">Select measuring unit (select one):</label>
    <select class="form-control" id="unit" name="stock_measuring_unit" ngModel>
      <option>Kg</option>
      <option>Litr</option>
      <option>gm</option>
      <option>Ton</option>
    </select>
    <input type="text" (keypress)="keyPress($event)" name="stock_unit_cost" class="form-control" placeholder="Add cost in rupees..."
      ngModel>
    <input type="text" (keypress)="keyPress($event)" name="stock_quantity" class="form-control" placeholder="Add quantity..."
      ngModel>
  </div>

  <input type="submit" value="Add Item" class="btn btn-primary">
</form>

<div class="container" style="border-top: 1px solid #ddd;     padding-top: 3rem;">
  <!-- <h3 style="margin-bottom:1rem;">Stock Listing</h3> -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Item name</th>
        <th>Measuring Unit</th>
        <th>Unit Cost</th>
        <th>Quantity</th>
        <th>Total Cost</th>
        <th>Remaining quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of items let idx=index">
      <tr>
        <td>{{item.stock_name}}</td>
        <td>{{item.stock_measuring_unit}}</td>
        <td>
          <div *ngIf="editMode">
            {{item.stock_unit_cost}}
          </div>
          <div *ngIf="!editMode">
            <input placeholder={{item.cost}} [(ngModel)]='item.cost' name="cost">
          </div>
        </td>
        <td>
          <div *ngIf="editMode">
            {{item.stock_quantity}}
          </div>
          <div *ngIf="!editMode">
            <input placeholder={{item.quantity}} [(ngModel)]='updateQuantity' name="quantity">
          </div>
        </td>

        <td>{{item.stock_total_cost}}</td>

        <td>{{item.remaining_quantity}}</td>

        <td>
          <input *ngIf="editMode" type="button" (click)="deleteItem(item)" value="Delete" class="btn btn-danger">
          <input *ngIf="editMode" type="button" (click)="setEdit()" (click)="Temp(idx)" value="Update" class="btn btn-primary">
          <input *ngIf="!editMode && displayRow == idx" type="button" (click)="setEdit()" (click)='updateItem(item)'
            value="Apply" class="btn btn-primary">
          <input *ngIf="!editMode && displayRow == idx" type="button" (click)="Temp(idx)" (click)="setEdit()" value="Cancel"
            class="btn btn">
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- <input type="button" (click)="deleteTask(task._id)" value="Delete" class="btn btn-danger">     -->