<div class='navBar'>
    <ngb-tabset justify="justified">

        <div>
            <ngb-tab><ng-template ngbTabTitle><div routerLink='dashboard'>Dashboard</div></ng-template></ngb-tab>
        </div>

        <div>
            <ngb-tab><ng-template ngbTabTitle><div routerLink='factory'>Inventory Management</div></ng-template></ngb-tab>
        </div>

        <div>
            <ngb-tab><ng-template ngbTabTitle><div routerLink='kitchen'>Factory</div></ng-template></ngb-tab>
        </div>

        <div>
            <ngb-tab><ng-template ngbTabTitle><div routerLink='user-management'>User Management</div></ng-template></ngb-tab>
        </div>

        <div>
            <ngb-tab><ng-template ngbTabTitle><div routerLink='transactions'>Transactions</div></ng-template></ngb-tab>
        </div>

    </ngb-tabset>
</div>

<router-outlet></router-outlet>