<div class="prog-up"><mat-progress-bar mode="indeterminate" *ngIf='loading' ></mat-progress-bar></div>
<div class="container">
    <ngb-tabset justify="justified">

      <div>
      <ngb-tab><ng-template ngbTabTitle><div routerLink='stock'>Daily</div></ng-template></ngb-tab>
      </div>

      <div>
      <ngb-tab><ng-template ngbTabTitle><div routerLink='entries'>Monthly</div></ng-template></ngb-tab>
      </div>

    </ngb-tabset>
</div>

<div *ngFor="let data of dashData">
{{data.date}}
</div>


<div class="container">

    <div class="chartbox" id='subjectLine'>

    </div>

</div>
